# MGT-499 Statistics and Data Science - Individual Assignment

In [92]:
# Import here what you need

import pandas as pd
import numpy as np

This notebook contains the individual assignment for the class MGT-499 Statistics and Data Science. Important information:
- **Content**: the assignment is divided in two main parts, namely data cleaning (2 datasets) and Exploratory Data Analysis, for a total of 13 main questions (see table of contents). Some of these main questions are divided in sub questions. In the first part, the questions are very specific, while in the second part they are more open.
- **Deadline**: Tuesday 8th of November at 23:59. 
- **Final Output**: a Jupyter notebook, which we (teachers) can run. 
- **Answering the Questions**: you will find the questions in markdown cells below. Under each of these cells, you will find a cell / cells for answers. Type there your answer. For the answer to be correct, the cell with the answer must run without error (unless specified). You can use markdown cells for the answers that require text.
- **Submission**: submit the assignment on Moodle, under [Individual Assignment](https://moodle.epfl.ch/mod/assign/view.php?id=1222846)

## Content
- [Polity5 Dataset](#polity5)  
    - [Question 1: Import the data and get a first glance](#question1)
    - [Question 2: Select some variables](#question2)
    - [Question 3: Missing Values](#question3)
    - [Question 4: Check Polity2](#question4)
- [Quality of Government (QOG) Environmental Indicators Dataset](#qog)  
    - [Question 5: Import the data and do few fixes](#question5)
    - [Question 6: Merge QOG and Polity5 ... first attempt](#question6)
    - [Question 7: Merge QOG and Polity5 ... second attempt](#question7)
    - [Question 8: Clean the merged dataframe](#question8)
- [Exploratory Data Analysis](#eda)
    - [Question 9: Selecting the ingredients for the recipe (how I select the variables)](#question9)  
    - [Question 10: Picking the right quantity of each ingredient (how I select my sample)](#question10)
    - [Question 11: Tasting and preparing the ingredients (univariate analysis)](#question11)
    - [Question 12: Cooking the ingredients together (bivariate analysis)](#question12)
    - [Question 13: Tasting the new recipe (conclusion)](#question13)

## Polity5 data <a class="anchor" id="polity5"></a>

Polity5 is a widely used democracy scale. The raw data as well as the codebook are available [here](http://www.systemicpeace.org/inscrdata.html). For this assignment, we have modified a bit the original version, for example we have added the iso3 code for countries to make you save time. You can find the modified version [here](https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/data/polity2_iso3.csv).

### Question 1: import the data and get a first glance <a class="anchor" id="question1"></a>

1a) Import the csv 'polity2_iso3.csv' (file provided in the link [here](https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/data/polity2_iso3.csv)) as a panda dataframe (ignore the warning message) **(1 point)**

In [93]:
# Answer 1a
url = 'https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/data/polity2_iso3.csv'
polity_data = pd.read_csv(url, low_memory=False)

1b) Display the first 10 rows **(1 point)**

In [94]:
# Answer 1b
polity_data.head(10)

,iso3,year,p5,cyear,ccode,scode,country,flag,fragment,democ,...,interim,bmonth,bday,byear,bprec,post,change,d5,sf,regtrans
0,NaN,1800,0,2711800,271,WRT,Wuerttemburg,0,NaN,0,...,NaN,1,1,1800,1,-7,88,1,NaN,NaN
1,NaN,1800,0,7301800,730,KOR,Korea,0,NaN,5,...,NaN,1,1,1800,1,1,88,1,NaN,NaN
2,NaN,1800,0,2451800,245,BAV,Bavaria,0,NaN,0,...,NaN,1,1,1800,1,-10,88,1,NaN,NaN
3,NaN,1801,0,7301801,730,KOR,Korea,0,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1801,0,2711801,271,WRT,Wuerttemburg,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,1801,0,2451801,245,BAV,Bavaria,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,1802,0,7301802,730,KOR,Korea,0,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,1802,0,2711802,271,WRT,Wuerttemburg,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1802,0,2451802,245,BAV,Bavaria,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1803,0,7301803,730,KOR,Korea,0,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1c) Display the data types of all the variables included in the data **(1 point)**

In [95]:
# Answer 1c
data_type  = polity_data.dtypes
data_type.to_frame()

                0
iso3       object
year        int64
p5          int64
cyear       int64
ccode       int64
scode      object
country    object
flag        int64
fragment  float64
democ       int64
autoc       int64
polity      int64
polity2   float64
durable    object
xrreg       int64
xrcomp      int64
xropen      int64
xconst      int64
parreg      int64
parcomp     int64
exrec     float64
exconst     int64
polcomp   float64
prior      object
emonth     object
eday       object
eyear      object
eprec      object
interim    object
bmonth     object
bday       object
byear      object
bprec      object
post       object
change     object
d5         object
sf         object
regtrans   object

1d) By looking at your answer in 1c, what is the difference between the different types of variables? Why the type of some variables is defined as object? **(1 point)**

Answer 1d:

We can see that we have four different dataypes: `object`, `float64` and `int64`. `Object` is  the pandas type for mixed values s.a. strings and numbers. In python the equivivalent  type is `string`. `Float64` refers to numeric characters with decimals. If columns contain numbers and NaN pandas will defualt to `float64`. And for `int64` is for integer numbers, and the 64 refers to memory allocation.

### Question 2. Select some variables <a class="anchor" id="question2"></a>

2a) Create a subset dataframe that contains the variables 'iso3', 'country', 'year', 'polity2' and display it **(1 point)**

In [174]:
# Answer 2a
polity_data_subset = (polity_data[['iso3', 'country', 'year', 'polity2']]).copy()
polity_data_subset

      iso3       country  year  polity2
0      NaN  Wuerttemburg  1800     -7.0
1      NaN         Korea  1800      1.0
2      NaN       Bavaria  1800    -10.0
3      NaN         Korea  1801      1.0
4      NaN  Wuerttemburg  1801     -7.0
...    ...           ...   ...      ...
17569  ZWE      Zimbabwe  2014      4.0
17570  ZWE      Zimbabwe  2015      4.0
17571  ZWE      Zimbabwe  2016      4.0
17572  ZWE      Zimbabwe  2017      4.0
17573  ZWE      Zimbabwe  2018      4.0

[17574 rows x 4 columns]

2b) Display the type of the variable "year" **(1 point)**

In [97]:
# Answer 2b
polity_data_subset['year'].dtypes

dtype('int64')

2c) Convert the variable "year" to string **(1 point)**
<br>
Hint: if you get a warning message of the type "SettingWithCopyWarning", it is because you did not subset the data in the right way. Go back to your class notes and check the different ways to subset a dataframe, and try again. If you do it correctly, you will not get the warning message.

In [98]:
# Answer 2c
polity_data_subset['year'] = polity_data_subset['year'].astype('string')
polity_data_subset['year'].dtypes

string[python]

### Question 3: Missing Values <a class="anchor" id="question3"></a>

3a) Subset the rows that have iso3 missing and display **(1 point)**

In [99]:
# Answer 3a
iso_missing = polity_data_subset[polity_data_subset['iso3'].isna()]
iso_missing

     iso3       country  year  polity2
0     NaN  Wuerttemburg  1800     -7.0
1     NaN         Korea  1800      1.0
2     NaN       Bavaria  1800    -10.0
3     NaN         Korea  1801      1.0
4     NaN  Wuerttemburg  1801     -7.0
...   ...           ...   ...      ...
1272  NaN    Montenegro  2018      9.0
1273  NaN   Sudan-North  2018     -4.0
1274  NaN       Vietnam  2018     -7.0
1275  NaN      Ethiopia  2018      1.0
1276  NaN        Serbia  2018      8.0

[1270 rows x 4 columns]

3b) Display the countries that have missing iso3. What can you tell by looking at them? Any similarities? **(1 point)**

In [100]:
# Answer 3b
iso_missing_contries = iso_missing['country']
print(f'They seem to be old countries, or old country names.\n{iso_missing_contries.unique()}')

They seem to be old countries, or old country names.
['Wuerttemburg' 'Korea' 'Bavaria' 'Saxony' 'Parma' 'Tuscany' 'Sardinia'
 'Modena' 'Two Sicilies' 'Baden' 'Gran Colombia' 'United Province CA'
 'Serbia' 'Orange Free State' 'Yemen North' 'Czechoslovakia' 'USSR'
 'Germany West' 'Germany East' 'Pakistan' 'South Vietnam' 'Yemen South'
 'Vietnam' 'Yugoslavia' 'Ethiopia' 'Serbia and Montenegro' 'Montenegro'
 'Sudan-North']

3c) Display the countries with missing iso3 from 2011. **(1 point)**

In [101]:
# Answer 3c
# Interpreting the question so that we take the contries missing iso3 from 2011 onwards
global df_missing_iso3_since_2011
global df_missing_iso3_since_2011_list

df_missing_iso3_since_2011 = iso_missing[iso_missing['year'] >= '2011']
df_missing_iso3_since_2011_list = sorted(df_missing_iso3_since_2011['country'].unique())
df_missing_iso3_since_2011_list

['Ethiopia', 'Montenegro', 'Serbia', 'Sudan-North', 'Vietnam']

3d) Display the rows for which the column "country" contains the word "Serbia". By looking at the result, can you tell what happened to Serbia in 2006? **(1 point)**
<br>
Hint: the most general way of doing this is to use a combination of re.search and list comprehension. To display the full subset, you can use print(df.to_string()).

In [102]:
# Answer 3d

# It is important to check for varieties of capilized firstletter when using case sensitive comparison. Information may be lost. Here all country instances uses first capital letter.
polity_data_subset_serbia = polity_data_subset[polity_data_subset['country'].str.contains(pat='Serbia')]
print(polity_data_subset_serbia.to_string())

# We can see that the country referred to as Serbia, reappeared in 2006, this is due to a name change following Montenegro and Serbias decleration of independence of their previous union named `Serbia and Montenegro`.

     iso3                country  year  polity2
224   NaN                 Serbia  1830     -7.0
230   NaN                 Serbia  1831     -7.0
252   NaN                 Serbia  1832     -7.0
261   NaN                 Serbia  1833     -7.0
272   NaN                 Serbia  1834     -7.0
286   NaN                 Serbia  1835     -7.0
295   NaN                 Serbia  1836     -7.0
301   NaN                 Serbia  1837     -7.0
318   NaN                 Serbia  1838      2.0
333   NaN                 Serbia  1839      2.0
344   NaN                 Serbia  1840      2.0
357   NaN                 Serbia  1841      2.0
363   NaN                 Serbia  1842      2.0
369   NaN                 Serbia  1843      2.0
387   NaN                 Serbia  1844      2.0
394   NaN                 Serbia  1845      2.0
410   NaN                 Serbia  1846      2.0
420   NaN                 Serbia  1847      2.0
429   NaN                 Serbia  1848      2.0
439   NaN                 Serbia  1849      2.0
450   NaN                 Serbia  1850      2.0
467   NaN                 Serbia  1851      2.0
475   NaN                 Serbia  1852      2.0
482   NaN                 Serbia  1853      2.0
492   NaN                 Serbia  1854      2.0
502   NaN                 Serbia  1855      2.0
523   NaN                 Serbia  1856      2.0
533   NaN                 Serbia  1857      2.0
542   NaN                 Serbia  1858     -9.0
553   NaN                 Serbia  1859     -9.0
572   NaN                 Serbia  1860     -4.0
575   NaN                 Serbia  1861      0.0
583   NaN                 Serbia  1862      0.0
593   NaN                 Serbia  1863      0.0
601   NaN                 Serbia  1864      0.0
608   NaN                 Serbia  1865      0.0
611   NaN                 Serbia  1866      0.0
623   NaN                 Serbia  1867      0.0
628   NaN                 Serbia  1868     -3.0
637   NaN                 Serbia  1869     -5.0
642   NaN                 Serbia  1870     -5.0
651   NaN                 Serbia  1871     -5.0
652   NaN                 Serbia  1872     -5.0
657   NaN                 Serbia  1873     -5.0
660   NaN                 Serbia  1874     -5.0
663   NaN                 Serbia  1875     -5.0
665   NaN                 Serbia  1876     -5.0
669   NaN                 Serbia  1877     -5.0
671   NaN                 Serbia  1878     -5.0
673   NaN                 Serbia  1879     -5.0
676   NaN                 Serbia  1880     -5.0
680   NaN                 Serbia  1881     -5.0
684   NaN                 Serbia  1882     -5.0
686   NaN                 Serbia  1883     -5.0
690   NaN                 Serbia  1884     -5.0
693   NaN                 Serbia  1885     -5.0
694   NaN                 Serbia  1886     -5.0
697   NaN                 Serbia  1887     -5.0
700   NaN                 Serbia  1888     -5.0
704   NaN                 Serbia  1889     -5.0
708   NaN                 Serbia  1890     -5.0
709   NaN                 Serbia  1891     -5.0
714   NaN                 Serbia  1892     -5.0
715   NaN                 Serbia  1893     -5.0
718   NaN                 Serbia  1894     -5.0
722   NaN                 Serbia  1895     -5.0
724   NaN                 Serbia  1896     -5.0
729   NaN                 Serbia  1897     -5.0
730   NaN                 Serbia  1898     -5.0
733   NaN                 Serbia  1899     -5.0
737   NaN                 Serbia  1900     -5.0
739   NaN                 Serbia  1901     -5.0
743   NaN                 Serbia  1902     -5.0
745   NaN                 Serbia  1903      4.0
748   NaN                 Serbia  1904      4.0
749   NaN                 Serbia  1905      4.0
751   NaN                 Serbia  1906      4.0
753   NaN                 Serbia  1907      4.0
755   NaN                 Serbia  1908      4.0
758   NaN                 Serbia  1909      4.0
759   NaN                 Serbia  1910      4.0
761   NaN                 Serbia  1911      4.0
762   NaN                 Serbia  1912      4.0
763   NaN                 Serbia  1913      4.0
764   NaN                 Serbia  1914      4.0
765   NaN                 Serbia  1915      NaN
766   NaN                 Serbia  1916      NaN
767   NaN                 Serbia  1917      4.0
769   NaN                 Serbia  1918      5.0
773   NaN                 Serbia  1919      6.0
774   NaN                 Serbia  1920      7.0
1201  NaN  Serbia and Montenegro  2003      6.0
1205  NaN  Serbia and Montenegro  2004      6.0
1207  NaN  Serbia and Montenegro  2005      6.0
1212  NaN  Serbia and Montenegro  2006      6.0
1213  NaN                 Serbia  2006      8.0
1217  NaN                 Serbia  2007      8.0
1218  NaN                 Serbia  2008      8.0
1224  NaN                 Serbia  2009      8.0
1228  NaN                 Serbia  2010      8.0
1231  NaN                 Serbia  2011      8.0
1238  NaN                 Serbia  2012      8.0
1247  NaN                 Serbia  2013      8.0
1248  NaN                 Serbia  2014      8.0
1254  NaN                 Serbia  2015      8.0
1263  NaN                 Serbia  2016      8.0
1269  NaN                 Serbia  2017      8.0
1276  NaN                 Serbia  2018      8.0

3e) Write a function that does the operation in 3d and use it to display the subset that has the word "sudan" (all lower cap) in country. Then do the same for the word "vietnam" (all lower cap). **(1 point)**
<br>
Hint: options of functions can be very useful.

In [103]:
# Answer 3e
#
# Function find_country
# 	input: datafram, string
# 	output: df containting the specified string in the column 'country'

def find_country(df:pd.DataFrame, country:str):
	try:
		return df[df['country'].str.contains(pat=country)]
	except TypeError as e:
		print(f'Not a valid datatype: {e}.\nUse {pd.DataFrame} and {str} as option type parameters')

df_sudan = find_country(polity_data_subset, 'sudan')
df_vietnam = find_country(polity_data_subset, 'vietnam')

print(df_sudan)
print(df_vietnam)

# str.contains is by default case sensitive, so we can just feed the function with 'sudan' or 'vietnam'
# Both empty

Empty DataFrame
Columns: [iso3, country, year, polity2]
Index: []
Empty DataFrame
Columns: [iso3, country, year, polity2]
Index: []

3f) Replace nan values in iso3 with correct iso3 for the 5 countries found in 3c from 2011 onwards, and display the subset with the fixed values to check that everything worked. **(1 point)**
<br>
Hint: the correct iso3 for these 5 countries are "ETH","MNE","SRB","SDN","VNM".

In [125]:
# Answer 3f

# Storing the correct iso3 values in a list
iso3_code_missing = ('ETH', 'MNE', 'SRB', 'SDN', 'VNM')

# Creating a dict to look up correct iso3 values with list from 3c
iso3_dict = dict(zip(df_missing_iso3_since_2011_list, iso3_code_missing))

# Copying the politydata to work on
polity_data_subset_iso_replace = polity_data_subset.copy()

# Function: replace(df, dct, replaced)
# input: df: dataframe, dct: dictionary to loop through, replaced: item to be replaced
# manipulates in place

def replace(df, dct, replaced):
    for key, item in dct.items():
        df.loc[(df['country'] == key) & (df['year'].astype(int) >= 2011)] = df.loc[(
            df['country'] == key) & (df['year'].astype(int) >= 2011)].replace(replaced, item)


# Calling the function and telling which value i want to replace
replace(polity_data_subset_iso_replace, iso3_dict, np.nan)

# Using the indexes of the subset created in 3c to check if we have the correct countrycodes
polity_data_subset_iso_replace.iloc[df_missing_iso3_since_2011.index]

     iso3      country  year  polity2
1230  MNE   Montenegro  2011      9.0
1231  SRB       Serbia  2011      8.0
1233  ETH     Ethiopia  2011     -3.0
1234  SDN  Sudan-North  2011     -4.0
1235  VNM      Vietnam  2011     -7.0
1236  MNE   Montenegro  2012      9.0
1238  SRB       Serbia  2012      8.0
1239  ETH     Ethiopia  2012     -3.0
1240  VNM      Vietnam  2012     -7.0
1241  SDN  Sudan-North  2012     -4.0
1242  VNM      Vietnam  2013     -7.0
1243  MNE   Montenegro  2013      9.0
1244  SDN  Sudan-North  2013     -4.0
1245  ETH     Ethiopia  2013     -3.0
1247  SRB       Serbia  2013      8.0
1248  SRB       Serbia  2014      8.0
1249  ETH     Ethiopia  2014     -3.0
1251  MNE   Montenegro  2014      9.0
1252  SDN  Sudan-North  2014     -4.0
1253  VNM      Vietnam  2014     -7.0
1254  SRB       Serbia  2015      8.0
1255  ETH     Ethiopia  2015     -3.0
1256  SDN  Sudan-North  2015     -4.0
1258  VNM      Vietnam  2015     -7.0
1259  MNE   Montenegro  2015      9.0
1260  MNE   Montenegro  2016      9.0
1262  SDN  Sudan-North  2016     -4.0
1263  SRB       Serbia  2016      8.0
1264  VNM      Vietnam  2016     -7.0
1265  ETH     Ethiopia  2016     -3.0
1266  VNM      Vietnam  2017     -7.0
1268  ETH     Ethiopia  2017     -3.0
1269  SRB       Serbia  2017      8.0
1270  SDN  Sudan-North  2017     -4.0
1271  MNE   Montenegro  2017      9.0
1272  MNE   Montenegro  2018      9.0
1273  SDN  Sudan-North  2018     -4.0
1274  VNM      Vietnam  2018     -7.0
1275  ETH     Ethiopia  2018      1.0
1276  SRB       Serbia  2018      8.0

3g) Drop the remaining rows which have nan in "iso3" and display the new number of rows of the dataframe (how many are they?) **(1 point)**

In [130]:
# Answer 3g

# Parameter axis=0 deletes the whole row, and the subset=iso3 means that we only look for NaNs in column iso3
polity_data_ss_cleaner = polity_data_subset_iso_replace.dropna(subset='iso3', axis=0)

# Number of rows
print(f'Before removing rows with NaNs in column "iso3" we had: {len(polity_data_subset_iso_replace)} rows')
print(f'Now we have: {len(polity_data_ss_cleaner)} rows')
print(f'Which means that we removed: {len(polity_data_subset_iso_replace) - len(polity_data_ss_cleaner)} rows')
print(f'Which makes sense since we had {polity_data_subset_iso_replace["iso3"].isna().sum()} instances of NaNs in the polity2 column.')

Before removing rows with NaNs in column "iso3" we had: 17574 rows
Now we have: 16344 rows
Which means that we removed: 1230 rows
Which makes sense since we had 1230 instances of NaNs in the polity2 column.

### Question 4: Check Polity2 <a class="anchor" id="question4"></a>

4a) Display the first and last year included in the dataset **(1 point)**

In [159]:
# Answer 4a

# Assuming the question is interpreted so that we are to find earliest and latest year recorded we have:
print(f'Earliest entry year: {polity_data["year"].min()}, Latest entry year: {polity_data["year"].max()}')

# Assuming the assignment is asking for the first and last year in the first and last row of the original dataset
print(f'First row year: {polity_data.iloc[[0, -1]]["year"].values[0]}, and last row year: {polity_data.iloc[[0, -1]]["year"].values[-1]}')

Earliest entry year: 1776, Latest entry year: 2020
First row year: 1800, and last row year: 2018

4b) What do the values in "polity2" represent? **(1 point)**

Answer 4b: 

`Polity2` is a revised version of the Polity score, which captures a regime authority on a `21-point` scale ranging from `-10` (hereditary monarchy) to `10` (consolidated democracy). `-66` are cases of foreign interruption and are treated as missing values. Whearas `-88` represents transitions. If a given country has the value of `-5` i 1990 and `+5` in 2000, it means that it has an annual increase of `+1`; and the converted scores are `1991: -4 1992: -3 ... 2000: +5`

4c) Do we have weird values for polity2? If yes, why? What should we do about them? Transform the data accordingly. **(1 point)**

Answer 4c:

In [179]:
# Answer 4c

# We have NaNs in polity2
# Since we know that the NaNs from polity2 are the only ones left, we can just drop all NaNs.
print(polity_data_ss_cleaner.isna().sum())

df_cleaned = polity_data_ss_cleaner.dropna(subset='polity2', axis=0)

# In addition we can see that we have values of -88 and -66. As this scale is supposed to range from -10 to 10, we should look a bit deeper if these values mean anything.
# After some research i found some information : https://www.systemicpeace.org/inscr/p4manualv2016.pdf.
# The Polity Project states that -66 
print(df_cleaned['polity2'].unique())

# Lets find the rows of those values
polity66 = df_cleaned[df_cleaned['polity2'] == -66].index
polity66_df = df_cleaned[df_cleaned['polity2'] == -66]
polity88 = df_cleaned[df_cleaned['polity2'] == -88].index

df_cleaned = df_cleaned.drop(index=polity66)
df_cleaned = df_cleaned.drop(index=polity88)

# Now we can see that we have the right values
print(df_cleaned['polity2'].unique())

# I can see that we have messed up the sorting of the data_frame. We can resolve this by using the sort_value function

df_cleaned = df_cleaned.sort_values(['country', 'year']) 


print('HALLELUJA')
print(df_cleaned.iloc[polity88])
print(polity66_df)

iso3         0
country      0
year         0
polity2    233
dtype: int64
[  9.   8.   0.  -3.  -4.  -7.   1.  -6.  -8. -10.  -1.  -2.  -9.  -5.
   3.   5.   7.   2.   6.  10.   4. -88. -66.]
[  9.   8.   0.  -3.  -4.  -7.   1.  -6.  -8. -10.  -1.  -2.  -9.  -5.
   3.   5.   7.   2.   6.  10.   4.]
HALLELUJA
     iso3 country  year  polity2
3607  CAN  Canada  1926     10.0
     iso3 country  year  polity2
6861  FRA  France  1940    -66.0
6862  FRA  France  1941    -66.0
6863  FRA  France  1942    -66.0
6864  FRA  France  1943    -66.0

4d) Make a map that shows the number of observations of polity2 by country **(1 point)**

In [109]:
# Answer 4d

pol_obs_per_country = df_cleaned.groupby(['country'])['polity2'].agg('count').reset_index()
pol_obs_per_country

           country  polity2
0      Afghanistan      196
1          Albania      105
2          Algeria       57
3           Angola       44
4        Argentina      194
..             ...      ...
165  Vietnam North       23
166          Yemen       29
167     Yugoslavia       71
168         Zambia       55
169       Zimbabwe       39

[170 rows x 2 columns]

4e) Store the final dataframe (the one you obtained after 5d) in an object called df_pol **(1 point)**

In [110]:
# Answer 4e
df_pol = df_cleaned

## Quality of Government Environmental Indicators <a class="anchor" id="qog"></a>

The QoG Environmental Indicators dataset (QoG-EI) (Povitkina, Marina, Natalia Alvarado Pachon & Cem Mert Dalli. 2021). The Quality of Government Environmental Indicators Dataset, version Sep21. University of Gothenburg: The Quality of Government Institute, https://www.gu.se/en/quality-government), is a compilation of indicators measuring countries' environmental performance over time, including the presence and stringency of environmental policies, environmental outcomes (emissions, deforestation, etc.), and public opinion on the environment. Codebook and data are available [here](https://www.gu.se/en/quality-government/qog-data/data-downloads/environmental-indicators-dataset).

### Question 5: Import the data and do few fixes <a class="anchor" id="question5"></a>

5a) Import data from the Quality of Government Environmental Indicators Dataset and display the variables types and the number of rows **(1 point)**
<br>
Hint: When you go on the webpage of the Environmental Indicators Dataset, you can directly import from a URL by copying the link address of the dataset!

In [180]:
# Answer 5a
url = 'https://www.qogdata.pol.gu.se/data/qog_ei_sept21.csv'
df_qog = pd.read_csv(url, encoding='latin-1', low_memory=False)

print(f'Variable types: {df_qog.dtypes} \n Number of rows: {len(df_qog.index)}')

Variable types: Unnamed: 0      int64
cname          object
ccode         float64
year            int64
cname_qog      object
               ...
wvs_epmip     float64
wvs_epmpp     float64
wvs_imeop     float64
wvs_pedp      float64
wvs_ploem     float64
Length: 415, dtype: object
 Number of rows: 15225

In [181]:
len(df_qog.index)

15225

5b) Rename the variable "ccodealp" to "iso3" **(1 point)**

In [182]:
# Answer 5b
df_qog.rename(columns={'ccodealp': 'iso3'}, inplace=True)

5c) Check the type of the variables "year" and "iso3" are string, if not convert them to string **(1 point)**

In [183]:
# Answer 5c
print(f'Before convert \nYear datatype: {df_qog["year"].dtypes}')
print(f'iso3 datatype: {df_qog["iso3"].dtypes}')

df_qog[['year', 'iso3']] = df_qog[['year', 'iso3']].astype('string')

print(f'After convert \nYear datatype: {df_qog["year"].dtypes}')
print(f'iso3 datatype: {df_qog["iso3"].dtypes}')

Before convert
Year datatype: int64
iso3 datatype: object
After convert
Year datatype: string
iso3 datatype: string

### Question 6: Merge QOG and Polity5 ... issues with QOG? <a class="anchor" id="question6"></a>

6a) Get a subset of the dataframe that includes the variables "cname", "iso3", "year" and "cckp_temp", and display the number of rows. **(1 point)**

In [184]:
# Answer 6a

df_qog_subset = df_qog[['cname', 'iso3',  'year', 'cckp_temp']]
len(df_qog_subset)

15225

6b) Merge this subset (left) and the clean version of the polity data (right), using the argument how="left". Was the merge succesfull? If yes, how many rows has the merged dataframe? Is it the same number of rows of the subset in 6a? **(1 point)**

In [190]:
# Answer 6b

merged = pd.merge(left=df_qog_subset, right=df_pol, how='left')
print(f'With {len(merged)} rows, its the same amount of rows we saw in 6a')

With 15225 rows, its the same amount of rows we saw in 6a

6c) Do the same by adding the argument validate="one-to-one". Can you make some hypotheses on why you get an error? **(1 point)**

In [191]:
# Answer 6c

# By using the option validate='one-to-one', we get an error message which states that the merge keys are not unique. 
# Which makes sense which we for example have several rows in the same column with the same value.
merge_one_to_one = pd.merge(left=df_qog_subset, right=df_pol, validate='1:1')

MergeError: Merge keys are not unique in left dataset; not a one-to-one merge

6d) Consider the subset of the QOG you obtained in 6a and write a code to (i) count the number of observations for the variable "cckp_temp" for each combination of iso3 and year, (ii) store the results in a dataframe. For example, the combination "USA-2012" should have 1 observation for "cckp_temp", so the result of your code should be 1. The code should do this for all iso3-year combinations of your subset dataframe, and store the results in a dataframe. **(1 point)**
<br>
Hint: it should not take you more than 2 lines of code.

In [284]:
# Answer 6d
#cckp_temp_per_combination = df_qog_subset.groupby(['iso3', 'year'])['cckp_temp'].agg('size').reset_index()
cckp_temp_per_combination = df_qog_subset.groupby(['iso3', 'year']).size().reset_index(name="cckp_temp_obs")

array([1, 2])

6e) Use the code in 6d to write a function that displays all rows of the dataframe obtained in 6a that have more than one observation of "cckp_temp" for each iso3-year combination, and check if it works. **(1 point)**

In [282]:
# import libraries
from cmath import nan
import pandas as pd

#create pandas DataFrame
df = pd.DataFrame({'Name': ['Arun', 'Arun', 'Bhuvi', 'Bhuvi',
							'Bhuvi', 'Chandan', 'Chandan'],
					
				'Department':['CSE', 'IT', 'CSE', 'CSE',
								'IT', 'IT', 'CSE'],
					
				'Funds': [1100, 5, 700, 600, 600, 500, 1200]})

# create a group using groupby
group = df.groupby(['Name', 'Department'])

# size of group to count observations
group = group.size()

# make a column name
group.reset_index(name='Observation')

      Name Department  Observation
0     Arun        CSE            1
1     Arun         IT            1
2    Bhuvi        CSE            2
3    Bhuvi         IT            1
4  Chandan        CSE            1
5  Chandan         IT            1

In [287]:
# Answer 6e
def more_than_one_cckp_temp(df):
	df_grouped = df.groupby(["iso3", "year"])["cckp_temp"].agg("size").reset_index()
	df_index = df_grouped[df_grouped.cckp_temp > 1].index
	return df.iloc[df_index]

print(more_than_one_cckp_temp(df_qog_subset).to_string())

print(df_qog_subset[df_qog_subset[("iso3" == 'UZB') & ("year") == 1962]])

                                   cname iso3  year  cckp_temp
14400                         Uzbekistan  UZB  1962        NaN
14401                         Uzbekistan  UZB  1963        NaN
14402                         Uzbekistan  UZB  1964        NaN
14403                         Uzbekistan  UZB  1965        NaN
14404                         Uzbekistan  UZB  1966        NaN
14405                         Uzbekistan  UZB  1967        NaN
14406                         Uzbekistan  UZB  1968        NaN
14407                         Uzbekistan  UZB  1969        NaN
14408                         Uzbekistan  UZB  1970        NaN
14409                         Uzbekistan  UZB  1971        NaN
14410                         Uzbekistan  UZB  1972        NaN
14411                         Uzbekistan  UZB  1973        NaN
14412                         Uzbekistan  UZB  1974        NaN
14413                         Uzbekistan  UZB  1975        NaN
14414                         Uzbekistan  UZB  1976        NaN
14415                         Uzbekistan  UZB  1977        NaN
14416                         Uzbekistan  UZB  1978        NaN
14417                         Uzbekistan  UZB  1979        NaN
14418                         Uzbekistan  UZB  1980        NaN
14419                         Uzbekistan  UZB  1981        NaN
14420                         Uzbekistan  UZB  1982        NaN
14421                         Uzbekistan  UZB  1983        NaN
14422                         Uzbekistan  UZB  1984        NaN
14423                         Uzbekistan  UZB  1985        NaN
14424                         Uzbekistan  UZB  1986        NaN
14425                         Uzbekistan  UZB  1987        NaN
14426                         Uzbekistan  UZB  1988        NaN
14427                         Uzbekistan  UZB  1989        NaN
14428                         Uzbekistan  UZB  1990        NaN
14429                         Uzbekistan  UZB  1991        NaN
14430                         Uzbekistan  UZB  1992  12.316667
14431                         Uzbekistan  UZB  1993  11.766667
14432                         Uzbekistan  UZB  1994  12.133333
14433                         Uzbekistan  UZB  1995  13.683333
14434                         Uzbekistan  UZB  1996  12.125000
14435                         Uzbekistan  UZB  1997  13.266667
14436                         Uzbekistan  UZB  1998  12.841667
14437                         Uzbekistan  UZB  1999  13.775000
14438                         Uzbekistan  UZB  2000  13.675000
14439                         Uzbekistan  UZB  2001  13.650000
14440                         Uzbekistan  UZB  2002  13.650000
14441                         Uzbekistan  UZB  2003  12.883333
14442                         Uzbekistan  UZB  2004  14.291667
14443                         Uzbekistan  UZB  2005  13.825000
14444                         Uzbekistan  UZB  2006  13.550000
14445                         Uzbekistan  UZB  2007  13.758333
14446                         Uzbekistan  UZB  2008  13.100000
14447                         Uzbekistan  UZB  2009  13.391667
14448                         Uzbekistan  UZB  2010  14.100000
14449                         Uzbekistan  UZB  2011  12.841667
14450                         Uzbekistan  UZB  2012  12.866667
14451                         Uzbekistan  UZB  2013  14.166667
14452                         Uzbekistan  UZB  2014  12.591667
14453                         Uzbekistan  UZB  2015  13.941667
14454                         Uzbekistan  UZB  2016  14.308333
14455                         Uzbekistan  UZB  2017  13.616667
14456                         Uzbekistan  UZB  2018  13.450000
14457                         Uzbekistan  UZB  2019  14.200000
14458                         Uzbekistan  UZB  2020  13.566667
14459  Venezuela, Bolivarian Republic of  VEN  1946  25.225000
14460  Venezuela, Bolivarian Republic of  VEN  1947  25.608333
14461  Venezuela, Bolivarian Republic of  VEN  1948  25.216667
14462  Venezuela, Bolivarian Republic of  VEN  1949  25.033333
14463  Venezuela, Bolivarian Republic of  VEN  1950  24.691667
14464  Venezuela, Bolivarian Republic of  VEN  1951  25.341667
14465  Venezuela, Bolivarian Republic of  VEN  1952  25.550000
14466  Venezuela, Bolivarian Republic of  VEN  1953  25.408333
14467  Venezuela, Bolivarian Republic of  VEN  1954  25.008333
14468  Venezuela, Bolivarian Republic of  VEN  1955  24.916667
14469  Venezuela, Bolivarian Republic of  VEN  1956  24.916667
14470  Venezuela, Bolivarian Republic of  VEN  1957  25.333333
14471  Venezuela, Bolivarian Republic of  VEN  1958  25.916667
14472  Venezuela, Bolivarian Republic of  VEN  1959  25.433333
14473  Venezuela, Bolivarian Republic of  VEN  1960  25.433333
14474  Venezuela, Bolivarian Republic of  VEN  1961  25.425000

TypeError: unsupported operand type(s) for &: 'bool' and 'str'

6f) Which countries have more than one observation for each iso3-year combination? Deal with these countries in the subset dataframe created in 6a to make sure you no longer have double observations for iso3-year combinations, and check that after your fix this is actually the case. **(1 point)**
<br>
Hint: should we keep a country with all missing values?

In [276]:
# Answer 6f
more_than_one_cckp_temp(df_qog_subset).iloc[22].cckp_temp.size() > 1

#more_than_one_cckp_temp(df_qog_subset).to_csv('more_than_one_cckp_temp.csv')

TypeError: 'int' object is not callable

6g) If your check went well, now you can perform the same operation directly in the QOG dataframe (not in the substed dataframe created in 6a). How many rows does now the QOG dataframe has? **(1 point)**

In [ ]:
# Answer 6g

### Question 7: Merge QOG and Polity5 ... issues with Polity5? <a class="anchor" id="question7"></a>

7a) Merge the cleaned QOG dataframe (left) and the Polity dataframe (right) using the options how="left" and validate="one_to_one". Does it work? Why? **(1 point)**

In [ ]:
# Answer 7a

7b) Use the function you wrote in 6e to check what's wrong in the "clean" version of Polity **(1 point)**

In [ ]:
# Answer 7b

7c) Drop or fix the countries that create troubles directly in the "clean" version of Polity and motivate your choices. **(1 point)**

In [ ]:
# Answer 7c

7d) Try now to merge the "clean-clean" versions of qog and Polity (the ones you obtained in 7g and 8c) always using the options how="left" and validate="one_to_one". Does it work, and why? How many rows has the resulting merged dataframe? **(1 point)**

In [ ]:
# Answer 7d

### Question 8: Clean the merged dataframe <a class="anchor" id="question8"></a>

8a) In the merged dataframe, order the columns so that you have the "index" variables first and the variables with actual values last. **(1 point)**
<br>
Hint: index variables are "iso3", "year" and other similar variables you can find, and the variables with actual values are "polity2", "cckp_temp" and other similar variables you can find.

In [ ]:
# Answer 8a

8b) Rename "cname" as "country" and "country" as "country_polity". **(1 point)**

In [ ]:
# Answer 8b

8c) Save the clean merged dataframe as a csv in a subfolder called "clean_data" in your working directory **(1 point)**

In [ ]:
# Answer 8c

## Exploratory Data Analysis <a class="anchor" id="eda"></a>

In this section you will define a research question and perform a preliminary Exploratory Data Analysis (EDA) to address - or better, start addressing - the question at hand. This exercise will be done along the lines of the analysis done by our own Quentin Gallea in "*A recipe to empirically answer any question quickly*" ([Towards Data Science, 2022](https://towardsdatascience.com/a-recipe-to-empirically-answer-any-question-quickly-22e48c867dd5)). In this article, Quentin shows the first steps of an EDA that aims to explore whether heat waves have pushed governments to implement regulations against climate change (causal link). The logic is that, as it gets hotter and hotter, governments become more aware of climate change, and the problems it can cause to society, and start addressing it. In Quentin's analysis, heat waves (proxied by temperature) is the "main explanatory variable", rainfall is the "explanatory variable for heterogeneity", and regulations against climate change (proxied by the Environmental Policy Stringency Index) is the "outcome variable". He finds that indeed countries with relatively high temperatures have implemented more regulations against climate change. This is true especially when rainfall levels are low, as when it does not rain the damage of extreme heat is more evident to legislators, who therefore apply stricter regulations against these phenomenons.
<br>
<br>
In this exercise, you will be asked to do a similar analysis on a research question of your choice, using at least two of the variables of the dataset we have created in the former questions (QOG + Polity). For example, "what is the average temperature in 2010?" is not a valid research question (univariate), while "what is the impact of high temperatures on the stringency of climate regulations?" is a valid research question (at least bivariate). As before, we will ask you some (this time more general and open) questions, and you should report your answer in the cells below each question. Use a mix of markdown and code cells to answer (markdown for text and code for graphs and tables). We should be able to run all the graphs, i.e. screenshots of graphs are not accepted. Note that for now we have put only one markdown cell and one code cell for the answer, but feel free to add as many cells as you need.
<br>
Beyond the python code, we will grade the interpretations of the results and the coding decision you make.
<br>
<br>
Let your creativity guide you and let's have some fun!

### Question 9: Selecting the ingredients (how I select the variables) <a class="anchor" id="question9"></a>
We have saved the clean merged data that resulted from the previous questions in "clean_data_prepared_EDA" (it should be the same of the one you saved in "clean_data"). Import the clean merged data from "clean_data_prepared_EDA" using this [link](https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/clean_data_prepared_EDA/df_qog_polity_merged.csv). Explore the variables in the newly obtained dataframe by checking the documentation of QOG and Polity. Then, define a research question that addresses a causal link between at least two of these variables. Describe the research question, why you are addressing it and the variables of interest (outcome variable, main explanatory variable and explanatory variable for heterogeneity). **(3 points)**

Answer 9:

In [ ]:
# Answer 9:

### Question 10: Picking the right quantity of each ingredient (how I select my sample) <a class="anchor" id="question10"></a>
Explore the data availability of your variables of interest and select a clean sample for the analysis. Describe this sample with the help of summary-statistics tables and maps. **(3 points)**

Answer 10:

In [ ]:
# Answer 10:

### Question 11: Tasting and preparing the ingredients (univariate analysis) <a class="anchor" id="question11"></a>
Do an univariate analysis for each variable you have chosen (outcome variable, main explanatory variable and explanatory variable for heterogeneity):
- Prepare the variable, for example see if you need to transform the data further, i.e. log-transform, define a categorical variable, deal with outliers, etc.
- Understand the nature of the variable, i.e. continuous, categorical, binary, etc., which then allows to pick the right statistical tool in the bivariate analysis.
- Get an idea of the variable's behaviour across time and space.

Describe these steps and the conclusions you can draw with the help of histograms, tables, maps and line graphs. **(3 points)**

Answer 11:

In [ ]:
# Answer 11:

### Question 12: Cooking the ingredients together (bivariate analysis) <a class="anchor" id="question12"></a>

Considering the "nature" of your variables (continuous, categorical, binary, etc.), pick the right tool / tools for a preliminary bivariate analysis, i.e. correlation tables, bar/line graphs, scatter plots, etc. Use these tools to describe your preliminary bivariate analysis and your findings. **(3 points)**

Answer 12:

In [ ]:
# Answer 12:

### Question 13: Tasting the new recipe (conclusion) <a class="anchor" id="question13"></a>

Explain what you learned, the problem faced, what would you do next (you can suggest other data you would like to have etc). **(2 points)**

Answer 13: